    cdp                                = CDPs                
    minlag                             = dt                  
    maxlag                             = last                
    pnoise                             = 0.001               
    mincorr                            = tmin                
    maxcorr                            = tmax                
    showwiener                         = 0                   
    mix                                = 1,...               
    outpar                             = /dev/null           
    showwiener                         = 1                   
    method                             = linear              
    perc                               = 95                  
    maxlag                             = MAXLAG_SPIKING      
    ntout                              = 1000                
    MAXLAG_PEF                         = GAP_SIZE            
    minlag                             = MINLAG_PEF          
    cdp                                = cdp1,cdp2,...       
    minlag                             = min1,min2,...       
    showweiner                         = 1                   
