    cdp                                = CDPs                
    minlag                             = dt                  
    maxlag                             = last                
    pnoise                             = 0.001               
    mincorr                            = tmin                
    maxcorr                            = tmax                
    showwiener                         = 0                   
    mix                                = 1,...               
    outpar                             = /dev/null                           
    method                             = linear              
    perc                               = 95                       
    ntout                              = 1000                
    MAXLAG_PEF                         = GAP_SIZE            
    showweiner                         = 1                   
