    balance                            =                 
    hiclip|bclip                              =                 
    blank                              = 0                   
    blockinterp                        = 0                   
    bperc                              =                 
    clip                               =                
    cmap                               = 'hsv1'                
    curve                              = .   
    curvecolor                         =   
    curvefile                          =     
    d1                                 = 1.0                 
    d1num                              = 0.0                 
    d2                                 = 1.0                 
    d2num                              = 0.0                 
    f1                                 = 0.0                 
    f1num                              =                
    f2                                 = 0.0                 
    f2num                              =                
    grid1                              =                 
    grid2                              =                 
    gridcolor                          = 'blue'                
    hbox                               = 700                 
    ylabel|label1                             =                
    xlabel|label2                             =                
    labelcolor                         = 'blue'                
    labelfont                          = 'Erg14'               
    legend                             = 0                   
    legendfont                         = 'times_roman10'       
    lheight                            =               
    lwidth                             = 16                  
    lx                                 = 3                   
    ly                                 =     
    picks| mpicks                             = '/dev/tty'            
    n1                                 =            
    n1tic                              = 1                   
    n2                                 =                  
    n2tic                              = 1                   
    npair                              =    
    percent4clip|perc                               = 100.0               
    plotfile                           = 'plotfile.ps'         
    orientation|style                              = 'seismic'             
    title                              = 'title'               
    titlecolor                         = 'red'                 
    titlefont                          = 'Rom22'               
    units                              = 'unit'                
    verbose                            = 1    
    box_height|hbox							= 550               
    box_width|wbox                               = 550                 
    loclip|wclip                              =                
    windowtitle                        = 'ximage'              
    wperc                              = 100.0          
    tstart_s|x1beg                              =                
    tend_s|x1end                              =                
    xstart_m|x2beg                              =                
    xend_m|x2end                              =                
    box_X0|xbox                               = 500                  
    box_Y0|ybox                               = 500                  
