verbose							=   
title 							= 'suxgraph'
windowtitle						= 'suxgraph'   
box_width|wbox| width					= 200
box_height|hbox|height				= 
box_X0							= 0
box_Y0 							= 0
curvefile						= 	 
curvecolor						=  		
dx|d2 							= 	
first_tick_number_x|f2					= 	
first_time_tick_num|f1					=  	
first_distance_tick_num 				=  	
dt|d1 			        			=
n|n1							=
nplot|n2						=  
pairs							=
labelFont						=
linewidth						=
linecolor						=
mark							=
marksize						=
reverse							=  
picks							= 	
x_tick_increment 					= 	
y_tick_increment 					= 	
num_minur_ticks_betw_time_ticks|nTic1 			= 	
num_minur_ticks_betw_distance_ticks|nTic2 		= 
orientation|style 					= 'seismic'
tmpdir							= 
title							=
titleFont						=
titleColor						=
axesColor						=
gridColor						=
tstart_s						=
tend_s							=	
xgrid_lines|grid2					=
ygrid_lines|grid1					=
xstart_m|x1beg|x1min					=
xend_m|x1end|x1max					=
xlabel|label2						= 'nu'
ylabel|label1						= 'nu'
ystart_m|x2beg|x2min					=
yend_m|x2beg|x2max					=