verbose						= 
absclip   					= 1
loclip						=  
hiclip 						=  
title 						= 'suximage'
windowtitle					= 'nu'
headerword 					= 
percent4clip				= 100 
box_width					= 200
box_X0						= 800
box_Y0 						= 300
cmap						= 'rgb0'	
curvefile					=  
curvecolor						= 	
dx 								= 
first_tick_number_x				= 
first_time_tick_num				= 
first_distance_tick_num 		= 
picks							=
x_tick_increment 				= 
y_tick_increment 					= 
num_minor_ticks_betw_time_ticks = 	
num_minor_ticks_betw_distance_ticks = 	
orientation 						= 'seismic'
tstart_s							=  	
tend_s								= 	
xstart_m							=  	
xend_m								= 	
xlabel								= 	'nu'
ylabel								= 	'nu'	